<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      getLocation();
    });
  </script>
<% end %>


<h1>New Note</h1>

<%= render 'form', note: @note %>
